.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 210px;
  padding-right: 210px;

  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
}

.header__logo {
  padding: 5px 0;
}

.header__actions {
  display: flex;
  align-items: center;

  gap: 15px;
  padding: 11px 0;
}

.header__action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}
