.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  flex: 0 0 10px;
}

.status-dot--variant-alive {
  background: #12b800;
}

.status-dot--variant-dead {
  background: #df0000;
}

.status-dot--variant-unknown {
  background: #ff9900;
}
