.status-dot {
  display: inline-block;
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-dot--variant-Alive {
  background: #12b800;
}

.status-dot--variant-Dead {
  background: #df0000;
}

.status-dot--variant-Unknown {
  background: #ff9900;
}
