.character-list {
  position: relative;
  min-height: calc(100vh - 120px);
}

.character-list__top {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.character-list__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.character-list__filters {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.character-list__loader,
.character-list__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
