.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.loader--size-large .loader__icon svg {
  width: 475px;
  height: 465px;
}

.loader--size-small .loader__icon svg {
  width: 103px;
  height: 101px;
}

.loader__caption {
  margin-top: 32px;
  text-align: center;

  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121;
}

.loader__icon {
  animation: loader-rotate 8s linear infinite;
  transform-origin: 50% 50%;
  will-change: transform;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader__icon {
    animation: none;
  }
}
