.footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
}

.footer__text {
  margin: 0;
  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #212121;
  text-align: center;
}
