.text-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.text-field-label {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 500;
}

.text-field {
  display: flex;
  align-items: center;
  width: 240px;
  overflow: hidden;
}

.text-field__input {
  flex: 1;
  min-width: 0;
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
}

.text-field__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.text-field--variant-underlined {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
}

.text-field--variant-underlined .text-field__input {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.text-field--variant-outlined {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #fff;
}

.text-field--size-lg.text-field--variant-outlined {
  min-height: 56px;
}

.text-field--size-sm.text-field--variant-outlined {
  min-height: 40px;
}

.text-field__icon {
  display: flex;
  padding: 0 8px 0 16px;
  color: rgba(0, 0, 0, 0.5);
}

.text-field__icon svg {
  width: 24px;
  height: 24px;
}

.text-field--variant-outlined .text-field__input {
  padding: 16px 0;
}

.text-field--variant-outlined:not(.text-field--with-icon) .text-field__input {
  padding-left: 16px;
}

.text-field__clear-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s;
}

.text-field__clear-btn:hover {
  color: #000;
}

.text-field--variant-outlined .text-field__clear-btn {
  margin: 0 12px 0 5px;
  padding: 23.5px 0;
}

.text-field--variant-underlined .text-field__clear-btn {
  margin-left: 8px;
}

.text-field__clear-icon {
  width: 9px;
  height: 9px;
}
